<!doctype html>
<html>
  <head>
    <title>Callibrate</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script>
    ($(document).ready(function() {
      var canvas = document.getElementById('mainCanvas');
      // resize the canvas to fill browser window dynamically
      window.addEventListener('resize', resizeCanvas, false);

      function resizeCanvas() {
              canvas.width = window.innerWidth;
              canvas.height = window.innerHeight;

      }
      resizeCanvas();

    }));
    </script>

    <style>
      html, body {
        width: 100%;
        height: 100%;
      }
      canvas#mainCanvas {
        display: block;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <svg id="mainCanvas"> 
    <rect width="320" height="220" fill="white" stroke="black" /> 
    <g transform="translate(10 10)"> 
    <g id="test" stroke="none" fill="lime"> 
    <path d="M 0 112 
    L 20 124 L 40 129 L 60 126 L 80 120 L 100 111 L 120 104 
    L 140 101 L 164 106 L 170 103 L 173 80 L 178 60 L 185 39 
    L 200 30 L 220 30 L 240 40 L 260 61 L 280 69 L 290 68 
    L 288 77 L 272 85 L 250 85 L 230 85 L 215 88 L 211 95 
    L 215 110 L 228 120 L 241 130 L 251 149 L 252 164 L 242 181 
    L 221 189 L 200 191 L 180 193 L 160 192 L 140 190 L 120 190 
    L 100 188 L 80 182 L 61 179 L 42 171 L 30 159 L 13 140Z"/> 
    </g> 
    </g> 
    </svg>
  </body>
</html>